body{
    margin: 0;
    padding: 0;
    background-color: rgb(39, 39, 52);
}
.buttons{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
button{
    height: 100%;
    width: 16.6%;
    background-color: paleturquoise;
    border: solid 3px rgb(100, 100, 214);
    font-weight: bolder;
}
button:hover{
    color: white;
    background-color: navy;
    border-color: lightskyblue;
}
#post{
    width: 40%;
    margin: auto;
    border: solid 4px navy;
    border-radius: 10px;
    background-color: whitesmoke;
    font-weight: bold;
    text-align: center;
}